body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sidebar {
    padding: 50px;
    width: 70px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .fixed-top{
    padding: 50px;
    position: fixed;
    width: 100%;
    height: auto;
   
}

#services-1 {
    width: 50%;
    background-color: rgb(136, 136, 136);
    padding: 10px;
    margin: 10px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
  }

.img1_rosepetals {
    background-image: url(../images/rose-petals-.jpg);
    background-size: 50%;
  }

.bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

  i {
    margin-bottom: 30px;
}

.img1_leah {
    background-image: url(../images/leah_ponce_1.jpg);
}

.img1 {

     background-image: url(../images/akili_pink_edit.jpg);

 }
 
.img2 {
     background-image: url(../images/pink_wavy.jpg);
     
}

.img3 {
    background-image: url(../images/three_white.jpg);
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
   

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px black;
    text-align: center;
}

.card-image {
    grid-area: image;
    background: url("../images/rose-petals-.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}