body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	z-index: -1;
	background-image: url("../images/plants_2.jpg");
	background-size: cover;
	background-color: rgb(247, 247, 247);
}

.sidebar {
	padding: 50px;
	width: 70px;
	top: 0;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
	z-index: 5;
}
@media only screen and (max-width: 950px) {
	.sidebar {
			width: 60px;
			padding: 25px;
	 }
}

@media only screen and (max-width: 500px) {
	.sidebar {
			width: 45px;
			padding: 20px;
	 }
}

@media only screen and (max-width: 375px) {
	.sidebar {
			width: 20px;
			padding: 20px;
	 }
}

i {
	margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
	i {
		font-size: 50px;
	 }
}

@media only screen and (max-width: 375px) {
	i {
		font-size: 25px;
	 }
}

#logo {
	position: relative;
	top: -80px;
	right: 40px;
	z-index: 4;
}

@media only screen and (max-width: 375px) {
	#logo {
		font-size: 50px;
		width: 220px;
		padding-left: 120px;
		padding-top: 25px;
	 }
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.column {
	position: absolute;
	width: 300px;
	right: 0;
}

.wrapper {
	width: 50%;
	height: 800px;
	left: 50px;
	top: 320px;
	margin: auto;
	padding-bottom: 200px;
	position: relative;
}

@media only screen and (max-width: 500px) {
	.wrapper {
		left: 25px;
		top: 200px;
	 }
}

@media only screen and (max-width: 375px) {
	.wrapper {
		left: 10px;
		top: 100px;
		width: 70%;
	 }
}

#leahPortrait {
	position: absolute;
	width: 500px;
	height: 700px;
	top: -150px;
	left: -80px;
	background-image: url("../images/leah_ponce_1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 0;
}

@media only screen and (max-width: 500px) {
	#leahPortrait {
		position: absolute;
		width: 350px;
		bottom: 30px;
		top: 20px;
		left: -20px;
		 }
}

@media only screen and (max-width: 375px) {
	#leahPortrait {
		position: absolute;
		width: 250px;
		bottom: 30px;
		top: 10px;
		left: -10px;
		 }
}

h1 {
	position: relative;
	border-style: solid;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	width: 200px;
	top: 50px;
	z-index: 4;
	right: 50px;
}

@media only screen and (max-width: 500px) {
	h1 {
		position: absolute;
		top: 200px;
		left: 5px;
		 }
}

@media only screen and (max-width: 375px) {
	h1 {
		position: absolute;
		top: 100px;
		left: 15px;
		width: 100px;
		 }
}

p {
	position: relative;
	width: 100%;
	background-color: white;
	max-width: 650px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 40px;
	padding-bottom: 30px;
}

@media only screen and (max-width: 500px) {
	p {
		font-size: 15px;
		top: 300px;
	 }
}

@media only screen and (max-width: 375px) {
	p {
		position: relative;
		font-size: 18px;
		top: 300px;
		padding-left: 20px;
		left: 0;
		max-width: 720px;
	 }
}