body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sidebar {
    padding: 50px;
    width: 70px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }


@media only screen and (max-width: 1200px) {
    .sidebar {      
     }
 }

 @media only screen and (max-width: 950px) {
    .sidebar {
        width: 60px;
        padding: 25px;
     }
 }

 @media only screen and (max-width: 500px) {
    .sidebar {
        width: 45px;
        padding: 20px;
 
     }
 }

  .fixed-top{
    padding: 50px;
    position: fixed;
    width: 100%;
    height: auto;  
}

@media only screen and (max-width: 375px) {
    .fixed-top {
        position: fixed;
        width: 100%;
        padding: auto;
 
     }
 }

#services-1 {
    width: 50%;
    background-color: rgb(136, 136, 136);
    padding: 10px;
    margin: 10px;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 500px) {
    .center {
       width: 500px;
    }
 }

 @media only screen and (max-width: 375px) {
    .center {
       width: 200px;
    }
 }

.img1_rosepetals {
    background-image: url(../images/rose-petals-.jpg);
    background-size: 50%;
  }

.bg-image {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

  i {
    margin-bottom: 30px;
}

 @media only screen and (max-width: 500px) {
    i {
      font-size: 50px;
     }
 }


.img1_leah {
    background-image: url(../images/leah_ponce_1.jpg);
}

.img1 {
     background-image: url(../images/akili_pink_edit.jpg);
 }

 @media only screen and (max-width: 500px) {
	.img1 {
        position: relative;
        width: 1000px;
        right: 200px;
        z-index: -1;
	 }
}
 
.img2 {
     background-image: url(../images/pink_wavy.jpg);    
}

@media only screen and (max-width: 500px) {
	.img2 {
        position: relative;
        width: 1000px;
        right: 200px;
        z-index: -1;
	 }
}

.img3 {
    background-image: url(../images/three_white.jpg);
}
@media only screen and (max-width: 500px) {
	.img3 {
        position: relative;
        width: 1000px;
        right: 200px;
        z-index: -1;
	 }
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
   

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px black;
    text-align: center;
}

.card-image {
    grid-area: image;
    background: url("../images/rose-petals-.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}